/* Skeleton CSS */
body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  color: #000000;
  width: 100%;
  background: #000000;
  overflow-y: scroll;
  font-size: 14px;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

/* Font name */
/*
 * Font scale
 */
/*
 * Bold/regular/thin helpers
 * weight matches Thin/Regular/Bold versions loaded
 * from Google Web Fonts 
 */
.\:font-thin {
  font-weight: 300;
}

.\:font-regular {
  font-weight: 500;
}

.\:font-bold {
  font-weight: 700;
}

/* By default, family is sans-serif */
body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

input, textarea, select {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

input:focus, input:hover, textarea:focus, textarea:hover, select:focus, select:hover {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em;
  line-height: 1em;
}

h1 {
  font-size: 5.16em;
}

h2 {
  font-size: 2.074em;
  line-height: 2em;
}

h3 {
  font-size: 2.074em;
  line-height: 1.8em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.833em;
}

p {
  margin: 0.5em;
}

a {
  color: #000000;
  text-decoration: none;
  transition: color 0.15s ease-out;
}

a:hover {
  color: #fff;
}

/* Avoid FOIT ( https://www.filamentgroup.com/lab/font-events.html ) */
.fonts-loaded body {
  font-family: "Raleway", sans-serif;
}

.fonts-loaded input, .fonts-loaded textarea, .fonts-loaded select {
  font-family: "Raleway", sans-serif;
}

/**
 * Genericons
 */
.social-navigation a:before,
.secondary-toggle:before,
.dropdown-toggle:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "Genericons";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
}

/**
 * Helpers & Modifiers 
 */
.\:transparent {
  opacity: 0;
}

.\:opaque {
  opacity: 1;
}

/* Full width, overrides parent container 
 *  https://css-tricks.com/full-width-containers-limited-width-parents/
 */
.\:width-full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
}

.\:txt-center {
  text-align: center;
}

.\:margin-center {
  margin: 0px auto;
}

.\:flex-middle {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

/* Set :bg-fixed > img as fixed */
.\:bg-fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  will-change: transform;
  backface-visibility: hidden;
}

.\:bg-fixed > img {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

/*
 * Abs grid , horizontal and vertical
 *
 * {direction} top , left
 * {modifier} and-half , and-one-fourth, and-three-fourth
 * .abs-grid-{direction}-{minus|1->12}-{modifier}
 *
 * eg: 
 *     .abs-grid-left-6 = Horizontal middle
 *     .abs-grid-top-3-and-half = Top 3 & half
 */
.\:abs-grid-left-minus0 {
  left: 0%;
}

.\:abs-grid-left-0 {
  left: 0%;
}

.\:abs-grid-left-0-and-half {
  left: 4.16667%;
}

.\:abs-grid-left-0-and-one-fourth {
  left: 2.08333%;
}

.\:abs-grid-left-0-and-three-fourth {
  left: 6.25%;
}

.\:abs-grid-left-minus1 {
  left: -8.33333%;
}

.\:abs-grid-left-1 {
  left: 8.33333%;
}

.\:abs-grid-left-1-and-half {
  left: 12.5%;
}

.\:abs-grid-left-1-and-one-fourth {
  left: 10.41667%;
}

.\:abs-grid-left-1-and-three-fourth {
  left: 14.58333%;
}

.\:abs-grid-left-minus2 {
  left: -16.66667%;
}

.\:abs-grid-left-2 {
  left: 16.66667%;
}

.\:abs-grid-left-2-and-half {
  left: 20.83333%;
}

.\:abs-grid-left-2-and-one-fourth {
  left: 18.75%;
}

.\:abs-grid-left-2-and-three-fourth {
  left: 22.91667%;
}

.\:abs-grid-left-minus3 {
  left: -25%;
}

.\:abs-grid-left-3 {
  left: 25%;
}

.\:abs-grid-left-3-and-half {
  left: 29.16667%;
}

.\:abs-grid-left-3-and-one-fourth {
  left: 27.08333%;
}

.\:abs-grid-left-3-and-three-fourth {
  left: 31.25%;
}

.\:abs-grid-left-minus4 {
  left: -33.33333%;
}

.\:abs-grid-left-4 {
  left: 33.33333%;
}

.\:abs-grid-left-4-and-half {
  left: 37.5%;
}

.\:abs-grid-left-4-and-one-fourth {
  left: 35.41667%;
}

.\:abs-grid-left-4-and-three-fourth {
  left: 39.58333%;
}

.\:abs-grid-left-minus5 {
  left: -41.66667%;
}

.\:abs-grid-left-5 {
  left: 41.66667%;
}

.\:abs-grid-left-5-and-half {
  left: 45.83333%;
}

.\:abs-grid-left-5-and-one-fourth {
  left: 43.75%;
}

.\:abs-grid-left-5-and-three-fourth {
  left: 47.91667%;
}

.\:abs-grid-left-minus6 {
  left: -50%;
}

.\:abs-grid-left-6 {
  left: 50%;
}

.\:abs-grid-left-6-and-half {
  left: 54.16667%;
}

.\:abs-grid-left-6-and-one-fourth {
  left: 52.08333%;
}

.\:abs-grid-left-6-and-three-fourth {
  left: 56.25%;
}

.\:abs-grid-left-minus7 {
  left: -58.33333%;
}

.\:abs-grid-left-7 {
  left: 58.33333%;
}

.\:abs-grid-left-7-and-half {
  left: 62.5%;
}

.\:abs-grid-left-7-and-one-fourth {
  left: 60.41667%;
}

.\:abs-grid-left-7-and-three-fourth {
  left: 64.58333%;
}

.\:abs-grid-left-minus8 {
  left: -66.66667%;
}

.\:abs-grid-left-8 {
  left: 66.66667%;
}

.\:abs-grid-left-8-and-half {
  left: 70.83333%;
}

.\:abs-grid-left-8-and-one-fourth {
  left: 68.75%;
}

.\:abs-grid-left-8-and-three-fourth {
  left: 72.91667%;
}

.\:abs-grid-left-minus9 {
  left: -75%;
}

.\:abs-grid-left-9 {
  left: 75%;
}

.\:abs-grid-left-9-and-half {
  left: 79.16667%;
}

.\:abs-grid-left-9-and-one-fourth {
  left: 77.08333%;
}

.\:abs-grid-left-9-and-three-fourth {
  left: 81.25%;
}

.\:abs-grid-left-minus10 {
  left: -83.33333%;
}

.\:abs-grid-left-10 {
  left: 83.33333%;
}

.\:abs-grid-left-10-and-half {
  left: 87.5%;
}

.\:abs-grid-left-10-and-one-fourth {
  left: 85.41667%;
}

.\:abs-grid-left-10-and-three-fourth {
  left: 89.58333%;
}

.\:abs-grid-left-minus11 {
  left: -91.66667%;
}

.\:abs-grid-left-11 {
  left: 91.66667%;
}

.\:abs-grid-left-11-and-half {
  left: 95.83333%;
}

.\:abs-grid-left-11-and-one-fourth {
  left: 93.75%;
}

.\:abs-grid-left-11-and-three-fourth {
  left: 97.91667%;
}

.\:abs-grid-left-minus12 {
  left: -100%;
}

.\:abs-grid-left-12 {
  left: 100%;
}

.\:abs-grid-left-12-and-half {
  left: 104.16667%;
}

.\:abs-grid-left-12-and-one-fourth {
  left: 102.08333%;
}

.\:abs-grid-left-12-and-three-fourth {
  left: 106.25%;
}

.\:abs-grid-top-minus0 {
  top: 0%;
}

.\:abs-grid-top-0 {
  top: 0%;
}

.\:abs-grid-top-0-and-half {
  top: 4.16667%;
}

.\:abs-grid-top-0-and-one-fourth {
  top: 2.08333%;
}

.\:abs-grid-top-0-and-three-fourth {
  top: 6.25%;
}

.\:abs-grid-top-minus1 {
  top: -8.33333%;
}

.\:abs-grid-top-1 {
  top: 8.33333%;
}

.\:abs-grid-top-1-and-half {
  top: 12.5%;
}

.\:abs-grid-top-1-and-one-fourth {
  top: 10.41667%;
}

.\:abs-grid-top-1-and-three-fourth {
  top: 14.58333%;
}

.\:abs-grid-top-minus2 {
  top: -16.66667%;
}

.\:abs-grid-top-2 {
  top: 16.66667%;
}

.\:abs-grid-top-2-and-half {
  top: 20.83333%;
}

.\:abs-grid-top-2-and-one-fourth {
  top: 18.75%;
}

.\:abs-grid-top-2-and-three-fourth {
  top: 22.91667%;
}

.\:abs-grid-top-minus3 {
  top: -25%;
}

.\:abs-grid-top-3 {
  top: 25%;
}

.\:abs-grid-top-3-and-half {
  top: 29.16667%;
}

.\:abs-grid-top-3-and-one-fourth {
  top: 27.08333%;
}

.\:abs-grid-top-3-and-three-fourth {
  top: 31.25%;
}

.\:abs-grid-top-minus4 {
  top: -33.33333%;
}

.\:abs-grid-top-4 {
  top: 33.33333%;
}

.\:abs-grid-top-4-and-half {
  top: 37.5%;
}

.\:abs-grid-top-4-and-one-fourth {
  top: 35.41667%;
}

.\:abs-grid-top-4-and-three-fourth {
  top: 39.58333%;
}

.\:abs-grid-top-minus5 {
  top: -41.66667%;
}

.\:abs-grid-top-5 {
  top: 41.66667%;
}

.\:abs-grid-top-5-and-half {
  top: 45.83333%;
}

.\:abs-grid-top-5-and-one-fourth {
  top: 43.75%;
}

.\:abs-grid-top-5-and-three-fourth {
  top: 47.91667%;
}

.\:abs-grid-top-minus6 {
  top: -50%;
}

.\:abs-grid-top-6 {
  top: 50%;
}

.\:abs-grid-top-6-and-half {
  top: 54.16667%;
}

.\:abs-grid-top-6-and-one-fourth {
  top: 52.08333%;
}

.\:abs-grid-top-6-and-three-fourth {
  top: 56.25%;
}

.\:abs-grid-top-minus7 {
  top: -58.33333%;
}

.\:abs-grid-top-7 {
  top: 58.33333%;
}

.\:abs-grid-top-7-and-half {
  top: 62.5%;
}

.\:abs-grid-top-7-and-one-fourth {
  top: 60.41667%;
}

.\:abs-grid-top-7-and-three-fourth {
  top: 64.58333%;
}

.\:abs-grid-top-minus8 {
  top: -66.66667%;
}

.\:abs-grid-top-8 {
  top: 66.66667%;
}

.\:abs-grid-top-8-and-half {
  top: 70.83333%;
}

.\:abs-grid-top-8-and-one-fourth {
  top: 68.75%;
}

.\:abs-grid-top-8-and-three-fourth {
  top: 72.91667%;
}

.\:abs-grid-top-minus9 {
  top: -75%;
}

.\:abs-grid-top-9 {
  top: 75%;
}

.\:abs-grid-top-9-and-half {
  top: 79.16667%;
}

.\:abs-grid-top-9-and-one-fourth {
  top: 77.08333%;
}

.\:abs-grid-top-9-and-three-fourth {
  top: 81.25%;
}

.\:abs-grid-top-minus10 {
  top: -83.33333%;
}

.\:abs-grid-top-10 {
  top: 83.33333%;
}

.\:abs-grid-top-10-and-half {
  top: 87.5%;
}

.\:abs-grid-top-10-and-one-fourth {
  top: 85.41667%;
}

.\:abs-grid-top-10-and-three-fourth {
  top: 89.58333%;
}

.\:abs-grid-top-minus11 {
  top: -91.66667%;
}

.\:abs-grid-top-11 {
  top: 91.66667%;
}

.\:abs-grid-top-11-and-half {
  top: 95.83333%;
}

.\:abs-grid-top-11-and-one-fourth {
  top: 93.75%;
}

.\:abs-grid-top-11-and-three-fourth {
  top: 97.91667%;
}

.\:abs-grid-top-minus12 {
  top: -100%;
}

.\:abs-grid-top-12 {
  top: 100%;
}

.\:abs-grid-top-12-and-half {
  top: 104.16667%;
}

.\:abs-grid-top-12-and-one-fourth {
  top: 102.08333%;
}

.\:abs-grid-top-12-and-three-fourth {
  top: 106.25%;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .\:mobile-abs-grid-left-minus0 {
    left: 0% !important;
  }
  .\:mobile-abs-grid-left-0 {
    left: 0% !important;
  }
  .\:mobile-abs-grid-left-0-and-half {
    left: 4.16667% !important;
  }
  .\:mobile-abs-grid-left-0-and-one-fourth {
    left: 2.08333% !important;
  }
  .\:mobile-abs-grid-left-0-and-three-fourth {
    left: 6.25% !important;
  }
  .\:mobile-abs-grid-left-minus1 {
    left: -8.33333% !important;
  }
  .\:mobile-abs-grid-left-1 {
    left: 8.33333% !important;
  }
  .\:mobile-abs-grid-left-1-and-half {
    left: 12.5% !important;
  }
  .\:mobile-abs-grid-left-1-and-one-fourth {
    left: 10.41667% !important;
  }
  .\:mobile-abs-grid-left-1-and-three-fourth {
    left: 14.58333% !important;
  }
  .\:mobile-abs-grid-left-minus2 {
    left: -16.66667% !important;
  }
  .\:mobile-abs-grid-left-2 {
    left: 16.66667% !important;
  }
  .\:mobile-abs-grid-left-2-and-half {
    left: 20.83333% !important;
  }
  .\:mobile-abs-grid-left-2-and-one-fourth {
    left: 18.75% !important;
  }
  .\:mobile-abs-grid-left-2-and-three-fourth {
    left: 22.91667% !important;
  }
  .\:mobile-abs-grid-left-minus3 {
    left: -25% !important;
  }
  .\:mobile-abs-grid-left-3 {
    left: 25% !important;
  }
  .\:mobile-abs-grid-left-3-and-half {
    left: 29.16667% !important;
  }
  .\:mobile-abs-grid-left-3-and-one-fourth {
    left: 27.08333% !important;
  }
  .\:mobile-abs-grid-left-3-and-three-fourth {
    left: 31.25% !important;
  }
  .\:mobile-abs-grid-left-minus4 {
    left: -33.33333% !important;
  }
  .\:mobile-abs-grid-left-4 {
    left: 33.33333% !important;
  }
  .\:mobile-abs-grid-left-4-and-half {
    left: 37.5% !important;
  }
  .\:mobile-abs-grid-left-4-and-one-fourth {
    left: 35.41667% !important;
  }
  .\:mobile-abs-grid-left-4-and-three-fourth {
    left: 39.58333% !important;
  }
  .\:mobile-abs-grid-left-minus5 {
    left: -41.66667% !important;
  }
  .\:mobile-abs-grid-left-5 {
    left: 41.66667% !important;
  }
  .\:mobile-abs-grid-left-5-and-half {
    left: 45.83333% !important;
  }
  .\:mobile-abs-grid-left-5-and-one-fourth {
    left: 43.75% !important;
  }
  .\:mobile-abs-grid-left-5-and-three-fourth {
    left: 47.91667% !important;
  }
  .\:mobile-abs-grid-left-minus6 {
    left: -50% !important;
  }
  .\:mobile-abs-grid-left-6 {
    left: 50% !important;
  }
  .\:mobile-abs-grid-left-6-and-half {
    left: 54.16667% !important;
  }
  .\:mobile-abs-grid-left-6-and-one-fourth {
    left: 52.08333% !important;
  }
  .\:mobile-abs-grid-left-6-and-three-fourth {
    left: 56.25% !important;
  }
  .\:mobile-abs-grid-left-minus7 {
    left: -58.33333% !important;
  }
  .\:mobile-abs-grid-left-7 {
    left: 58.33333% !important;
  }
  .\:mobile-abs-grid-left-7-and-half {
    left: 62.5% !important;
  }
  .\:mobile-abs-grid-left-7-and-one-fourth {
    left: 60.41667% !important;
  }
  .\:mobile-abs-grid-left-7-and-three-fourth {
    left: 64.58333% !important;
  }
  .\:mobile-abs-grid-left-minus8 {
    left: -66.66667% !important;
  }
  .\:mobile-abs-grid-left-8 {
    left: 66.66667% !important;
  }
  .\:mobile-abs-grid-left-8-and-half {
    left: 70.83333% !important;
  }
  .\:mobile-abs-grid-left-8-and-one-fourth {
    left: 68.75% !important;
  }
  .\:mobile-abs-grid-left-8-and-three-fourth {
    left: 72.91667% !important;
  }
  .\:mobile-abs-grid-left-minus9 {
    left: -75% !important;
  }
  .\:mobile-abs-grid-left-9 {
    left: 75% !important;
  }
  .\:mobile-abs-grid-left-9-and-half {
    left: 79.16667% !important;
  }
  .\:mobile-abs-grid-left-9-and-one-fourth {
    left: 77.08333% !important;
  }
  .\:mobile-abs-grid-left-9-and-three-fourth {
    left: 81.25% !important;
  }
  .\:mobile-abs-grid-left-minus10 {
    left: -83.33333% !important;
  }
  .\:mobile-abs-grid-left-10 {
    left: 83.33333% !important;
  }
  .\:mobile-abs-grid-left-10-and-half {
    left: 87.5% !important;
  }
  .\:mobile-abs-grid-left-10-and-one-fourth {
    left: 85.41667% !important;
  }
  .\:mobile-abs-grid-left-10-and-three-fourth {
    left: 89.58333% !important;
  }
  .\:mobile-abs-grid-left-minus11 {
    left: -91.66667% !important;
  }
  .\:mobile-abs-grid-left-11 {
    left: 91.66667% !important;
  }
  .\:mobile-abs-grid-left-11-and-half {
    left: 95.83333% !important;
  }
  .\:mobile-abs-grid-left-11-and-one-fourth {
    left: 93.75% !important;
  }
  .\:mobile-abs-grid-left-11-and-three-fourth {
    left: 97.91667% !important;
  }
  .\:mobile-abs-grid-left-minus12 {
    left: -100% !important;
  }
  .\:mobile-abs-grid-left-12 {
    left: 100% !important;
  }
  .\:mobile-abs-grid-left-12-and-half {
    left: 104.16667% !important;
  }
  .\:mobile-abs-grid-left-12-and-one-fourth {
    left: 102.08333% !important;
  }
  .\:mobile-abs-grid-left-12-and-three-fourth {
    left: 106.25% !important;
  }
  .\:mobile-abs-grid-top-minus0 {
    top: 0% !important;
  }
  .\:mobile-abs-grid-top-0 {
    top: 0% !important;
  }
  .\:mobile-abs-grid-top-0-and-half {
    top: 4.16667% !important;
  }
  .\:mobile-abs-grid-top-0-and-one-fourth {
    top: 2.08333% !important;
  }
  .\:mobile-abs-grid-top-0-and-three-fourth {
    top: 6.25% !important;
  }
  .\:mobile-abs-grid-top-minus1 {
    top: -8.33333% !important;
  }
  .\:mobile-abs-grid-top-1 {
    top: 8.33333% !important;
  }
  .\:mobile-abs-grid-top-1-and-half {
    top: 12.5% !important;
  }
  .\:mobile-abs-grid-top-1-and-one-fourth {
    top: 10.41667% !important;
  }
  .\:mobile-abs-grid-top-1-and-three-fourth {
    top: 14.58333% !important;
  }
  .\:mobile-abs-grid-top-minus2 {
    top: -16.66667% !important;
  }
  .\:mobile-abs-grid-top-2 {
    top: 16.66667% !important;
  }
  .\:mobile-abs-grid-top-2-and-half {
    top: 20.83333% !important;
  }
  .\:mobile-abs-grid-top-2-and-one-fourth {
    top: 18.75% !important;
  }
  .\:mobile-abs-grid-top-2-and-three-fourth {
    top: 22.91667% !important;
  }
  .\:mobile-abs-grid-top-minus3 {
    top: -25% !important;
  }
  .\:mobile-abs-grid-top-3 {
    top: 25% !important;
  }
  .\:mobile-abs-grid-top-3-and-half {
    top: 29.16667% !important;
  }
  .\:mobile-abs-grid-top-3-and-one-fourth {
    top: 27.08333% !important;
  }
  .\:mobile-abs-grid-top-3-and-three-fourth {
    top: 31.25% !important;
  }
  .\:mobile-abs-grid-top-minus4 {
    top: -33.33333% !important;
  }
  .\:mobile-abs-grid-top-4 {
    top: 33.33333% !important;
  }
  .\:mobile-abs-grid-top-4-and-half {
    top: 37.5% !important;
  }
  .\:mobile-abs-grid-top-4-and-one-fourth {
    top: 35.41667% !important;
  }
  .\:mobile-abs-grid-top-4-and-three-fourth {
    top: 39.58333% !important;
  }
  .\:mobile-abs-grid-top-minus5 {
    top: -41.66667% !important;
  }
  .\:mobile-abs-grid-top-5 {
    top: 41.66667% !important;
  }
  .\:mobile-abs-grid-top-5-and-half {
    top: 45.83333% !important;
  }
  .\:mobile-abs-grid-top-5-and-one-fourth {
    top: 43.75% !important;
  }
  .\:mobile-abs-grid-top-5-and-three-fourth {
    top: 47.91667% !important;
  }
  .\:mobile-abs-grid-top-minus6 {
    top: -50% !important;
  }
  .\:mobile-abs-grid-top-6 {
    top: 50% !important;
  }
  .\:mobile-abs-grid-top-6-and-half {
    top: 54.16667% !important;
  }
  .\:mobile-abs-grid-top-6-and-one-fourth {
    top: 52.08333% !important;
  }
  .\:mobile-abs-grid-top-6-and-three-fourth {
    top: 56.25% !important;
  }
  .\:mobile-abs-grid-top-minus7 {
    top: -58.33333% !important;
  }
  .\:mobile-abs-grid-top-7 {
    top: 58.33333% !important;
  }
  .\:mobile-abs-grid-top-7-and-half {
    top: 62.5% !important;
  }
  .\:mobile-abs-grid-top-7-and-one-fourth {
    top: 60.41667% !important;
  }
  .\:mobile-abs-grid-top-7-and-three-fourth {
    top: 64.58333% !important;
  }
  .\:mobile-abs-grid-top-minus8 {
    top: -66.66667% !important;
  }
  .\:mobile-abs-grid-top-8 {
    top: 66.66667% !important;
  }
  .\:mobile-abs-grid-top-8-and-half {
    top: 70.83333% !important;
  }
  .\:mobile-abs-grid-top-8-and-one-fourth {
    top: 68.75% !important;
  }
  .\:mobile-abs-grid-top-8-and-three-fourth {
    top: 72.91667% !important;
  }
  .\:mobile-abs-grid-top-minus9 {
    top: -75% !important;
  }
  .\:mobile-abs-grid-top-9 {
    top: 75% !important;
  }
  .\:mobile-abs-grid-top-9-and-half {
    top: 79.16667% !important;
  }
  .\:mobile-abs-grid-top-9-and-one-fourth {
    top: 77.08333% !important;
  }
  .\:mobile-abs-grid-top-9-and-three-fourth {
    top: 81.25% !important;
  }
  .\:mobile-abs-grid-top-minus10 {
    top: -83.33333% !important;
  }
  .\:mobile-abs-grid-top-10 {
    top: 83.33333% !important;
  }
  .\:mobile-abs-grid-top-10-and-half {
    top: 87.5% !important;
  }
  .\:mobile-abs-grid-top-10-and-one-fourth {
    top: 85.41667% !important;
  }
  .\:mobile-abs-grid-top-10-and-three-fourth {
    top: 89.58333% !important;
  }
  .\:mobile-abs-grid-top-minus11 {
    top: -91.66667% !important;
  }
  .\:mobile-abs-grid-top-11 {
    top: 91.66667% !important;
  }
  .\:mobile-abs-grid-top-11-and-half {
    top: 95.83333% !important;
  }
  .\:mobile-abs-grid-top-11-and-one-fourth {
    top: 93.75% !important;
  }
  .\:mobile-abs-grid-top-11-and-three-fourth {
    top: 97.91667% !important;
  }
  .\:mobile-abs-grid-top-minus12 {
    top: -100% !important;
  }
  .\:mobile-abs-grid-top-12 {
    top: 100% !important;
  }
  .\:mobile-abs-grid-top-12-and-half {
    top: 104.16667% !important;
  }
  .\:mobile-abs-grid-top-12-and-one-fourth {
    top: 102.08333% !important;
  }
  .\:mobile-abs-grid-top-12-and-three-fourth {
    top: 106.25% !important;
  }
}

/**
 * Components 
 */
.\:circle {
  with: auto;
  height: auto;
}

.\:circle figure {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.\:circle figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.\:circle figure figcaption {
  display: none;
}

/* Except when type is txt */
.\:circle.\:txt figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.\:circle.\:txt figure figcaption {
  display: block;
  text-align: center;
}

/*
 * Destaque colors
 */
.\:txt-destaque {
  color: #b15ab3;
}

.\:bg-destaque {
  background-color: #b15ab3;
}

.\:txt-destaque2 {
  color: #f05a23;
}

.\:bg-destaque2 {
  background-color: #f05a23;
}

.\:txt-destaque3 {
  color: #faaf3a;
}

.\:bg-destaque3 {
  background-color: #faaf3a;
}

/**
 *  Accessibility
 */
/* Text meant only for screen readers */
.says,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/*
 * Social navigation
 */
.social-navigation ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.social-navigation li {
  flex-basis: 1;
}

.social-navigation a {
  display: block;
  position: relative;
  height: 1.5rem;
  width: 3rem;
  text-align: center;
}

.social-navigation a:before {
  content: "\f415";
  font-size: 1.5rem;
  top: 0;
  left: 0;
}

.social-navigation a[href*="codepen.io"]:before {
  content: "\f216";
}

.social-navigation a[href*="digg.com"]:before {
  content: "\f221";
}

.social-navigation a[href*="dribbble.com"]:before {
  content: "\f201";
}

.social-navigation a[href*="dropbox.com"]:before {
  content: "\f225";
}

.social-navigation a[href*="facebook.com"]:before {
  content: "\f203";
}

.social-navigation a[href*="flickr.com"]:before {
  content: "\f211";
}

.social-navigation a[href*="foursquare.com"]:before {
  content: "\f226";
}

.social-navigation a[href*="plus.google.com"]:before {
  content: "\f206";
}

.social-navigation a[href*="github.com"]:before {
  content: "\f200";
}

.social-navigation a[href*="instagram.com"]:before {
  content: "\f215";
}

.social-navigation a[href*="linkedin.com"]:before {
  content: "\f208";
}

.social-navigation a[href*="pinterest.com"]:before {
  content: "\f210";
}

.social-navigation a[href*="getpocket.com"]:before {
  content: "\f224";
}

.social-navigation a[href*="polldaddy.com"]:before {
  content: "\f217";
}

.social-navigation a[href*="reddit.com"]:before {
  content: "\f222";
}

.social-navigation a[href*="stumbleupon.com"]:before {
  content: "\f223";
}

.social-navigation a[href*="tumblr.com"]:before {
  content: "\f214";
}

.social-navigation a[href*="twitter.com"]:before {
  content: "\f202";
}

.social-navigation a[href*="vimeo.com"]:before {
  content: "\f212";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
  content: "\f205";
}

.social-navigation a[href*="youtube.com"]:before {
  content: "\f213";
}

.social-navigation a[href*="mailto:"]:before {
  content: "\f410";
}

.social-navigation a[href*="spotify.com"]:before {
  content: "\f515";
}

.social-navigation a[href*="twitch.tv"]:before {
  content: "\f516";
}

.social-navigation a[href$="/feed/"]:before {
  content: "\f413";
}

.social-navigation a[href*="path.com"]:before {
  content: "\f219";
}

.social-navigation a[href*="skype.com"]:before {
  content: "\f220";
}

.secondary-toggle {
  background-color: transparent;
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  height: 42px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 42px;
}

.secondary-toggle:before {
  color: #333;
  content: "\f419";
  line-height: 40px;
  width: 40px;
}

.secondary-toggle:hover,
.secondary-toggle:focus {
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border: 1px solid rgba(51, 51, 51, 0.3);
  outline: 0;
}

.secondary-toggle.toggled-on:before {
  content: "\f405";
  font-size: 32px;
  position: relative;
  top: 1px;
  left: -1px;
}

/*
 * Animations
 */
/* easeOutQuart */
.\:animated {
  animation-fill-mode: both !important;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-play-state: paused !important;
}

.\:anim-reallyslow {
  animation-duration: 4.5s !important;
}

.\:anim-slow {
  animation-duration: 1.5s !important;
}

.\:anim-normal {
  animation-duration: 0.7s !important;
}

.\:anim-fast {
  animation-duration: 0.35s !important;
}

.\:anim-delay-015 {
  animation-delay: 0.150s !important;
}

.\:anim-delay-03 {
  animation-delay: 0.300s !important;
}

.\:anim-delay-07 {
  animation-delay: 0.700s !important;
}

.\:anim-delay-10 {
  animation-delay: 1.000s !important;
}

.\:anim-ease-linear {
  transition-timing-function: linear !important;
}

.\:anim-ease-outQuart {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.appear {
  animation-play-state: running !important;
}

.gone {
  animation-play-state: running !important;
}

.\:anim-play {
  animation-play-state: running !important;
}

.\:anim-stop {
  animation-play-state: paused !important;
}

/* Bounce */
@keyframes bounceIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

.bounceIn {
  animation: bounceIn;
}

.bounceOut {
  animation: bounceOut;
}

/* Bounce */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Fade In Down / Up */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation: fadeInDownBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/* Slide up */
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes bgSlideInUp {
  from {
    transform: scale(1.05) translate3d(0, 5%, 0);
  }
  to {
    transform: scale(1) translate3d(0, 0, 0);
  }
}

.bgSlideInUp {
  animation-name: bgSlideInUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes softSlideInDown {
  from {
    transform: translate3d(0, -25%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

.softSlideInDown {
  animation-name: softSlideInDown;
}

/* Opacity */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity {
  -webkit-animation: opacity;
  animation: opacity;
}

/**
 * DOM Structure 
 */
#page {
  position: relative;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /*
  transform: scale(1);
  backface-visibility: hidden;
  */
}

#content article {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 2em;
  width: 100%;
  background-color: rgb 0, 0, 0;
  color: #310046;
  font-size: 0.9em;
  z-index: 10;
}

/*
 * Header
 */
.header {
  visibility: visible;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #f1deba;
}

.header .site-branding .site-title {
  display: none;
}

.header .site-branding .site-description {
  margin: 0 0;
  width: 110%;
  display: flex;
  justify-content: space-between;
}

.header a {
  color: #f1deba;
}

.header a:hover {
  color: #fff;
}

.secondary-toggle {
  display: none;
}

/*
 * Article sections
 */
.home-article {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Set thumbnail absolute at top */
  /* Hide entry-header by default */
}

.home-article .post-thumbnail {
  position: relative;
  top: 0;
  max-width: 100%;
  height: 100vh;
}

.home-article .post-thumbnail > img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
}

.home-article .entry-content,
.home-article .entry-header {
  position: relative;
  width: 100%;
  color: #f1deba;
}

.home-article .entry-header {
  display: none;
}

/**
 * Specific layout
 */
.home-hero {
  position: relative;
  width: 100%;
  height: 95vh;
  position: fixed;
  top: 0;
  left: 0;
}

.home-hero .post-thumbnail {
  position: absolute;
  width: 100%;
  z-index: 0;
  opacity: 0.10;
  overflow: hidden;
}

.home-hero .post-thumbnail > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.home-hero .entry-header {
  position: relative;
  z-index: 5;
}

.home-hero .seta {
  position: absolute;
  width: 47px;
  height: 47px;
  z-index: 10;
  left: calc( 50% - (47px / 2));
  bottom: 20px;
  background-image: url(../imagens/seta_animada.png);
  cursor: pointer;
  animation: bounce 2s infinite;
  animation-delay: 3s;
}

/* Second post, responsabilidade/criatividade */
.home-article.descritivo {
  /* give space for home-hero */
  margin-top: 95vh;
  overflow: hidden;
}

.home-article.descritivo .post-thumbnail {
  z-index: 8;
  /* fundo */
  /* Parallax balls */
}

.home-article.descritivo .post-thumbnail > .fundo {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100%;
  height: 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.home-article.descritivo .post-thumbnail > .fundo.estrelas-back {
  background-position: 0 -200px;
  background-image: url(../imagens/descritivo/bolinhapequeno-descritivo.png);
}

.home-article.descritivo .post-thumbnail > .fundo.estrelas-middle {
  top: 40%;
  height: 60%;
  width: 100%;
  background-image: url(../imagens/descritivo/bolinhamedio-descritivo.png);
  background-repeat: repeat;
}

.home-article.descritivo .post-thumbnail > .fundo.estrelas-front {
  top: 40%;
  background-image: url(../imagens/descritivo/bolinhagrande-descritivo.png);
  background-size: cover;
  background-position: 0 bottom;
  height: 100%;
}

.home-article.descritivo .post-thumbnail .balls {
  position: relative;
  top: 50%;
  height: 50%;
}

.home-article.descritivo .post-thumbnail .balls > .ball {
  position: absolute;
  color: #f1deba;
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
}

.home-article.descritivo .post-thumbnail .balls > .ball figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-article.descritivo .post-thumbnail .balls > .ball figcaption {
  display: block;
  text-transform: uppercase;
}

.home-article.descritivo .post-thumbnail .balls > .ball#independente {
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
}

.home-article.descritivo .descritivo-noise {
  position: relative;
  z-index: 0;
  top: -100vh;
  height: 100vh;
  background-image: url(../imagens/servicos/noise-servicos-comp-tileable.jpg);
  background-color: #000;
  /*
    > img { height: 100%; object-fit: cover; } */
}

.home-article.descritivo .descritivo-entry-mascara {
  content: ' ';
  position: absolute;
  top: 40%;
  left: 0;
  height: 8px;
  width: 100%;
  background-position: 0px -2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imagens/descritivo/fundo/mascara-top.png);
  z-index: 10;
}

.home-article.descritivo .entry-content {
  top: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 40%;
  z-index: 10;
  overflow: hidden;
}

/* Montanhas mascara */
.descritivo:after, .servicos:before {
  z-index: 10;
  content: " ";
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  background-image: url(../imagens/descritivo/montanhas.png);
  background-size: cover;
  left: 50%;
  right: 50%;
  margin-left: -50%;
  margin-right: -50%;
}

/* Invert montanha, allow content float parallax-layers top of it */
.servicos:before {
  transform: scaleY(-1);
  top: 0;
}

/* Third post, just a video */
.home-article.video {
  background-color: #000000;
  z-index: 8;
  overflow: hidden;
}

.home-article.video .post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home-article.video .entry-content {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* responsive youtube embed */
}

.home-article.video .entry-content .lazyframe {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px auto;
}

.lazyframe[data-vendor="vimeo"] {
  background-color: #000 !important;
}

.lazyframe[data-vendor="vimeo"] .lazyframe__title {
  display: none;
  color: #f05a23 !important;
  font-family: 'Raleway', sans-serif;
}

.lazyframe[data-vendor="vimeo"]:before {
  position: absolute !important;
}

.lazyframe[data-vendor="vimeo"]:after {
  left: 0;
  bottom: 0;
  margin: 0px auto;
  top: 50%;
  transform: translate3d(0, -50%, 0) scale(1.5);
}

.lazyframe[data-vendor="vimeo"]:hover:after {
  background-color: #f05a23 !important;
}

/* Fourth post - Servicos */
.home-article.servicos {
  width: 100%;
  height: 100vh;
  /* planeta background image */
  /* align at center with 80% */
}

.home-article.servicos .post-thumbnail {
  position: absolute;
  overflow: hidden;
  background-image: url(../imagens/servicos/noise-servicos-comp-tileable.jpg);
  background-color: #000;
  /* fundo */
}

.home-article.servicos .post-thumbnail > .fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
}

.home-article.servicos .post-thumbnail > .fundo.estrelas-back {
  background-image: url(../imagens/servicos/bolinhapequeno-servicos.png);
  background-position: 0 bottom;
}

.home-article.servicos .post-thumbnail > .fundo.estrelas-middle {
  background-image: url(../imagens/servicos/bolinhamedio-servicos.png);
  background-position: 0 bottom;
}

.home-article.servicos .post-thumbnail > .fundo.estrelas-front {
  background-image: url(../imagens/servicos/bolinhagrande-servicos2.png);
}

.home-article.servicos .planeta-bg {
  background-repeat: no-repeat;
  background-image: url(../imagens/servicos/PlanetaoGrande.png);
  /*background-color: #000; */
  background-size: contain;
  background-position: center top;
  position: absolute;
  height: 1200px;
  width: 100%;
  top: 55%;
  overflow: hidden;
  z-index: 5;
}

.home-article.servicos .planeta-bg:before {
  content: ' ';
  width: 100vw;
  height: 1200px;
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #000;
}

.home-article.servicos .entry-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.home-article.servicos .entry-content .entry-title {
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-top: 8%;
  margin-left: auto;
}

.home-article.servicos .entry-content .balls {
  width: 100%;
  height: 75%;
  position: relative;
  margin-top: 25%;
  z-index: 8;
  /* abs aligned at center */
}

.home-article.servicos .entry-content .balls .servico-icone {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  /* Overwrite img size */
  /*&#planejamento figure > img { width: 88px; }*/
  /*&#animacao figure { width: 150%; } */
}

.home-article.servicos .entry-content .balls .servico-icone figure > img {
  margin: 0px auto;
}

.home-article.servicos .entry-content .balls .servico-icone figcaption {
  text-transform: uppercase;
  margin-top: 0.5em;
  font-size: 0.833em;
}

.home-article.servicos .entry-content .balls .servico-icone#criacao figure {
  /*> img { width: 106px; }*/
}

.home-article.servicos .entry-content .balls .servico-icone#gestao {
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

/* 
 * Por do sol is a section with 3 article size
 * And a gradient bg
 */
section.por-do-sol {
  /*margin-top: 20vh;*/
  position: relative;
  width: 100%;
  min-height: 250vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  /*
   * Black to transparent gradient 
   */
  /* Bg por do sol */
}

section.por-do-sol:before {
  z-index: 0;
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5%;
  background-image: linear-gradient(black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

section.por-do-sol:after {
  content: ' ';
  width: 100%;
  height: 350vh;
  position: absolute;
  bottom: 0;
  background-position: bottom center;
  background-image: url(../imagens/clientes/Por-do-Sol-comp.jpg);
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Fifth post - clients */
.home-article.clientes {
  height: 250vh;
  /* center align */
}

.home-article.clientes .post-thumbnail {
  position: absolute;
}

.home-article.clientes .post-thumbnail > img {
  width: 100%;
  object-fit: contain;
}

.home-article.clientes .entry-content {
  position: relative;
  width: 70%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Container for balls */
}

.home-article.clientes .entry-content .entry-title {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.home-article.clientes .entry-content .balls {
  margin: 0px auto;
  width: 90%;
  height: 200vh;
  position: relative;
}

.home-article.clientes .entry-content .balls .client-icone {
  position: absolute;
  margin-left: -62.5px;
  margin-top: -62.6px;
  width: 125px;
  height: 128px;
}

/* Sixth post - contact */
.home-article.contato {
  height: 100vh;
}

.home-article.contato .entry-header {
  display: block;
}

.home-article.contato .entry-content {
  width: 55%;
  height: 50%;
  margin: 10em auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.home-article.contato .coluna-contato1 {
  position: relative;
  width: 47.5%;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: #310046;
}

.home-article.contato .coluna-contato1 h4 {
  margin-left: 0;
  color: #fdfdfd;
}

.home-article.contato .coluna-contato2 {
  text-align: left;
  color: #310046;
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 52px;
  border-bottom: 1px solid #310046;
  /* fb/intragram img */
}

.home-article.contato .coluna-contato2 #icone > img {
  transform: scale(1);
  transition: all 0.15s ease-out;
}

.home-article.contato .coluna-contato2 #icone > img:hover {
  transform: scale(1.1);
}

.home-article.contato .coluna-contato2 h4, .home-article.contato .coluna-contato2 h5 {
  margin-left: 0;
}

.home-article.contato .coluna-contato2 .email {
  text-decoration: underline;
}

.home-article.contato .coluna-contato2 a {
  color: #310046;
}

.home-article.contato .coluna-contato2 a:hover {
  color: #fff;
}

.home-article.contato .coluna-contato2 .social-navigation a {
  width: 2.5em;
}

.home-article.contato form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  /* Contact form p */
  /* Last p is submit container */
}

.home-article.contato form p {
  margin: 0;
}

.home-article.contato form br {
  display: none;
}

.home-article.contato form p:last-of-type {
  align-self: flex-end;
}

.home-article.contato form input, .home-article.contato form textarea {
  width: 100%;
  color: #310046;
  background: transparent;
  border: 0.3px solid #310046;
  margin: 5px;
  padding: 0.5em 1em;
  margin-left: 0px;
}

.home-article.contato form input::-webkit-input-placeholder, .home-article.contato form textarea::-webkit-input-placeholder {
  color: #310046;
}

.home-article.contato form input::-moz-placeholder, .home-article.contato form textarea::-moz-placeholder {
  color: #310046;
}

.home-article.contato form input::-ms-input-placeholder, .home-article.contato form textarea::-ms-input-placeholder {
  color: #310046;
}

.home-article.contato form input[type="submit"] {
  cursor: pointer;
  height: 25px;
  width: 100px;
  border-radius: 30px;
  background-color: #310046;
  font-weight: bold;
  color: #edc771;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  transition: all 0.15s ease-out;
  margin-right: 0px;
}

.home-article.contato form input[type="submit"]:hover, .home-article.contato form input[type="submit"]:focus {
  background-color: #fff;
  color: #310046;
}

.home-article.contato .form-success {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.25);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* State */
  visibility: hidden;
  transition: all 0.35s ease-out;
  opacity: 0;
}

.home-article.contato .form-success .close-btn {
  position: relative;
  text-align: right;
  color: inherit;
}

.home-article.contato .form-success .message {
  position: relative;
  width: auto;
  margin: 0 auto;
  height: 100%;
  margin-top: 50%;
  top: -25%;
}

.home-article.contato .form-success .message > p {
  font-size: 1.15em;
  margin: 2em 1em;
}

.home-article.contato .form-success.\:appear {
  visibility: visible;
  opacity: 1;
}

.home-article.contato .two-column {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.home-article.contato #icone {
  width: 40%;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */