/* Smartphones (Small) (portrait) ----------- */
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  h2 {
    font-size: 1.5em;
  }
  /* Avoid horizontal scroll */
  body {
    overflow-x: hidden;
  }
  /* Hide header masthead */
  #header {
    display: none;
  }
  #masthead {
    display: none;
  }
  /* 95% centered */
  .home-article .entry-content {
    width: 95%;
  }
  /* Hero */
  .home-hero {
    height: 50vh;
  }
  .home-hero .entry-header {
    width: 90%;
    transform-origin: -5% 0;
  }
  .home-hero .seta {
    zoom: 0.75;
  }
  /* Descritivo 
   * has 1 full screen and half height.
   * Realign entry-content and parallax items 
   */
  .home-article.descritivo {
    margin-top: 50vh;
    height: 150vh;
  }
  .home-article.descritivo .entry-content {
    height: 40vh;
  }
  .home-article.descritivo .descritivo-noise {
    top: -70vh;
    height: 110vh;
  }
  .home-article.descritivo .post-thumbnail {
    top: 40vh;
    height: 110vh;
  }
  .home-article.descritivo .post-thumbnail > .fundo {
    top: 0%;
    height: 100%;
    background-image: none;
  }
  .home-article.descritivo .post-thumbnail > .fundo.estrelas-middle {
    background-image: url(../imagens/descritivo/descritivo-bolinhasmobile.png);
    top: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .home-article.descritivo .post-thumbnail > .fundo.estrelas-back,
  .home-article.descritivo .post-thumbnail > .fundo.estrelas-front {
    display: none;
  }
  .home-article.descritivo .post-thumbnail .balls {
    top: 0%;
    height: 100%;
    /* Resize balls */
  }
  .home-article.descritivo .post-thumbnail .balls > .ball {
    width: 155px;
    height: 155px;
    margin-left: -77px;
    margin-top: -77px;
  }
  .home-article.descritivo .post-thumbnail .balls > .ball h4 {
    margin: 0.5em 0;
  }
  .home-article.descritivo .post-thumbnail .balls > .ball p {
    max-width: 80%;
  }
  .home-article.descritivo .descritivo-entry-mascara {
    top: 39vh;
    height: 32px;
    background-position: 50% 0px;
    background-size: auto;
  }
  /* Video */
  .home-article.video {
    height: 50vh;
  }
  .home-article.video .entry-content {
    height: 100%;
  }
  .home-article.video .lazyframe:after {
    background-color: #f05a23 !important;
  }
  section.por-do-sol {
    min-height: 330vh;
    justify-content: center;
  }
  section.por-do-sol:after {
    height: 330vh;
  }
  /* Servicos */
  .home-article.servicos {
    height: 150vh;
  }
  .home-article.servicos .planeta-bg {
    top: 55%;
  }
  .home-article.servicos .post-thumbnail {
    height: 160vh;
  }
  .home-article.servicos .post-thumbnail > .fundo.estrelas-middle {
    background-position: 0 -65vw;
  }
  .home-article.servicos .entry-content .entry-title {
    margin: 25% auto 0 auto;
  }
  .home-article.servicos .entry-content .balls {
    margin-top: 60%;
    /* align by hand, even though css is aligned, image is not */
  }
  .home-article.servicos .entry-content .balls .servico-icone {
    width: 128px;
    height: 128px;
    margin-left: -64px;
    margin-top: -64px;
  }
  .home-article.servicos .entry-content .balls #animacao {
    margin-left: -54px;
  }
  /* Clientes */
  .home-article.clientes {
    height: 210vh;
  }
  .home-article.clientes .entry-content {
    width: 90%;
  }
  .home-article.clientes .entry-content .balls {
    height: 180vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .home-article.clientes .entry-content .balls .client-icone {
    position: relative;
    margin: 0 0;
    top: 0;
    left: 0;
  }
  .home-article.clientes .entry-content .balls .client-icone:nth-child(even) {
    top: 96px;
  }
  .home-article.clientes #cremer, .home-article.clientes #pompom, .home-article.clientes #sapeka {
    display: none;
  }
  /* Contato */
  .home-article.contato {
    margin-top: 10vh;
  }
  .home-article.contato .entry-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
  }
  .home-article.contato .entry-content form {
    /* Last p is submit container */
  }
  .home-article.contato .entry-content form input[type="text"], .home-article.contato .entry-content form input[type="email"], .home-article.contato .entry-content form textarea {
    background-color: white;
    border: 0;
  }
  .home-article.contato .entry-content form p:last-of-type {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 0em;
    height: inherit;
  }
  .home-article.contato .entry-content form input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 1em;
    height: inherit;
  }
  .home-article.contato .entry-content .coluna-contato1, .home-article.contato .entry-content .coluna-contato2 {
    width: 100%;
    margin: 0;
    padding: 10px;
    height: auto;
  }
  .home-article.contato .entry-content .coluna-contato2 > h4 {
    display: none;
  }
  footer {
    position: absolute;
    display: none;
  }
}

/* Iphone 5 */
/* Ipads and bigger */
@media only screen and (min-device-width: 768px) {
  /* Only 50% of size, realign origin at center 
   * because of parallax 
   */
  .home-hero .entry-header {
    width: 40%;
  }
}

/*# sourceMappingURL=responsive.css.map */