/*
 * Parallax effect mixins
 */
/* Parallax on Y bg position */
/*
 * Parallax Transform layers.
 * 0 => background
 * 10 => utter front
 */
@-skrollr-keyframes parallaxPerspec-0 {
  skrollr-bottom-top {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, 0%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-1 {
  skrollr-bottom-top {
    transform: translate3d(0, 10%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -10%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-2 {
  skrollr-bottom-top {
    transform: translate3d(0, 20%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -20%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-3 {
  skrollr-bottom-top {
    transform: translate3d(0, 30%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -30%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-4 {
  skrollr-bottom-top {
    transform: translate3d(0, 40%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -40%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-5 {
  skrollr-bottom-top {
    transform: translate3d(0, 50%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -50%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-6 {
  skrollr-bottom-top {
    transform: translate3d(0, 60%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -60%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-7 {
  skrollr-bottom-top {
    transform: translate3d(0, 70%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -70%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-8 {
  skrollr-bottom-top {
    transform: translate3d(0, 80%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -80%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-9 {
  skrollr-bottom-top {
    transform: translate3d(0, 90%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -90%, 0);
  }
}

@-skrollr-keyframes parallaxPerspec-10 {
  skrollr-bottom-top {
    transform: translate3d(0, 100%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, 0%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -100%, 0);
  }
}

/* 
 * Parallax BG layers
 */
@-skrollr-keyframes parallaxBg-0 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px 0vh;
  }
}

@-skrollr-keyframes parallaxBg-1 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -10vh;
  }
}

@-skrollr-keyframes parallaxBg-2 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -20vh;
  }
}

@-skrollr-keyframes parallaxBg-3 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -30vh;
  }
}

@-skrollr-keyframes parallaxBg-4 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -40vh;
  }
}

@-skrollr-keyframes parallaxBg-5 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -50vh;
  }
}

@-skrollr-keyframes parallaxBg-6 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -60vh;
  }
}

@-skrollr-keyframes parallaxBg-7 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -70vh;
  }
}

@-skrollr-keyframes parallaxBg-8 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -80vh;
  }
}

@-skrollr-keyframes parallaxBg-9 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -90vh;
  }
}

@-skrollr-keyframes parallaxBg-10 {
  skrollr-bottom-top {
    background-position: 0px 0vh;
  }
  skrollr-top-bottom {
    background-position: 0px -100vh;
  }
}

@-skrollr-keyframes descritivoEstrelaFrontBg {
  skrollr-100p {
    background-position: 0px 0vh;
  }
  skrollr-200p {
    background-position: 0px -40vh;
  }
}

/*
 * Opacity
 */
@-skrollr-keyframes parallaxOpacity {
  skrollr-bottom-top {
    opacity: 0;
  }
  skrollr-center-center {
    opacity: 1;
  }
}

@-skrollr-keyframes descritivoText {
  skrollr-025p {
    opacity: 0;
    transform[swing]: translate3d(0, 10%, 0);
  }
  skrollr-050p {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

@-skrollr-keyframes servicosIcone {
  skrollr-290p {
    transform[sqrt]: translate3d(0, 100%, 0);
    opacity: 0;
  }
  skrollr-340p {
    transform: translate3d(0, 0%, 0);
    opacity: 1;
  }
  skrollr-390p {
    transform: translate3d(0, -50%, 0);
  }
}

@-skrollr-keyframes ballDigital {
  skrollr-50p {
    transform[sqrt]: translate3d(0, 50%, 0);
    /**    opacity[quadratic]: 0; **/
  }
  skrollr-90p {
    transform: translate3d(0, 0%, 0);
    /**    opacity: 1; **/
  }
  skrollr-150p {
    transform: translate3d(0, -30%, 0);
  }
}

@-skrollr-keyframes ballSocial {
  skrollr-70p {
    transform[sqrt]: translate3d(0, 50%, 0);
    /**    opacity[quadratic]: 0; **/
  }
  skrollr-90p {
    transform: translate3d(0, 0%, 0);
    /**    opacity: 1;     **/
  }
  skrollr-150p {
    transform: translate3d(0, -50%, 0);
  }
}

@-skrollr-keyframes ballIndependente {
  skrollr-70p {
    transform[sqrt]: translate3d(0, 100%, 0);
    /**    opacity[cubic]: 0; **/
  }
  skrollr-90p {
    transform: translate3d(0, 10%, 0);
    /**    opacity: 1; **/
  }
  skrollr-150p {
    transform: translate3d(0, -20%, 0);
  }
}

@-skrollr-keyframes clientesIcone {
  skrollr--100p-bottom-top {
    opacity: 1;
    transform: translate3d(0, 100%, 0);
  }
  skrollr--100p-center-center {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
  skrollr--100p-top-bottom {
    transform: translate3d(0, -100%, 0);
  }
}

@-skrollr-keyframes planetaBg {
  skrollr-bottom-top {
    transform: translate3d(0, 35%, 0);
  }
  skrollr-center-center {
    transform: translate3d(0, -10%, 0);
  }
  skrollr-top-bottom {
    transform: translate3d(0, -10%, 0);
  }
}

.descritivo .estrelas-front {
  -skrollr-animation-name: descritivoEstrelaFrontBg;
}

/*
 * Animate far away background elements 
 */
.descritivo .parallax-layer.fundo.\:zlayer-back {
  -skrollr-animation-name: parallaxBg-0;
}

.descritivo .parallax-layer.fundo.\:zlayer-middle {
  -skrollr-animation-name: parallaxBg-5;
}

.servicos .parallax-layer.fundo.\:zlayer-middle {
  -skrollr-animation-name: parallaxBg-5;
}

.servicos .parallax-layer.fundo.\:zlayer-front {
  -skrollr-animation-name: parallaxBg-10;
}

/* text descritivo */
.descritivo .entry-content h2 {
  -skrollr-animation-name: descritivoText;
}

/*
 * Balls of descritivo 
 */
.descritivo .balls #digital {
  -skrollr-animation-name: ballDigital;
  -skrollr-anchor-target: '.descritivo';
}

.descritivo .balls #social {
  -skrollr-animation-name: ballSocial;
  -skrollr-anchor-target: '.descritivo';
}

.descritivo .balls #independente {
  -skrollr-animation-name: ballIndependente;
  -skrollr-anchor-target: '.descritivo';
}

/* Servicos */
.servicos .planeta-bg {
  -skrollr-animation-name: planetaBg;
  /*-skrollr-animation-name: parallaxPerspec-6;*/
}

.servicos .servico-icone {
  -skrollr-animation-name: servicosIcone;
}

/* Clients */
.clientes .client-icone {
  -skrollr-animation-name: clientesIcone;
}

/*# sourceMappingURL=skrollr.css.map */